<%= form_for @team, :remote => true, :html => {:class => "form", :role => "form"} do |f| %>
  <div class="modal-body">
    <ul class="errors"></ul>
    <%= f.text_field :name, :placeholder => "Name", :name => "name", :class => "form-control input-lg"  %>
    <%= f.text_area :description, :placeholder => "Description", :name => "description", :class => "form-control input-lg"  %>
  </div>
  <div class="modal-footer">
    <%= f.submit class: "btn btn-primary" %>
    <%= link_to "Cancel", "#", class: "btn", data: {dismiss: "modal"} %> 
   </div>
  </div>
<% end %>