<% provide(:title, "Team Settings") %>
<% content_for :nav do %>
    <%= render partial: "shared/team_nav/nav_bar"  %>
<% end %>
 
<div class="view-container">
    <section id="content" class="animate-fade-up">
        <h1><%= @active_team %></h1>
         
        <div class="page page-profile">

            <div class="row">
                <div class="col-md-6">

                    <div class="panel panel-profile">
                        <div class="panel-heading text-center bg-info">
                            <img alt="" src="images/g1.jpg" class="img-circle img80_80">
                            <h3><%= @team.name %></h3>
                            <p></p>                    
                        </div>
                        <div class="list-justified-container">
                            <ul class="list-justified text-center">
                                <li>
                                    <p class="size-h3">2</p>
                                    <p class="text-muted">Products</p>
                                </li>
                                <li>
                                    <p class="size-h3">23</p>
                                    <p class="text-muted">Features</p>
                                </li>
                                <li>
                                    <p class="size-h3">154</p>
                                    <p class="text-muted">Stories</p>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <section class="panel panel-box">
                                <div class="panel-top bg-facebook">
                                    <div class="divider divider"></div>
                                    <i class="fa fa-facebook size-h1"></i>
                                    <div class="divider divider"></div>
                                </div>
                                <div class="list-justified-container">
                                    <ul class="list-justified text-center">
                                        <li>
                                            <p class="size-h3">575</p>
                                            <p class="text-muted">Followers</p>
                                        </li>
                                        <li>
                                            <p class="size-h3">23</p>
                                            <p class="text-muted">Following</p>
                                        </li>
                                    </ul>
                                </div>
                            </section>
                        </div>
                    </div>  
                </div>

                <div class="col-md-6">
                    <div  id="integrations" class="panel panel-default">
                        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Integrations</strong></div>
                        <div class="panel-body">
                            <div class="media">
                                <div class="media-body">
                                    <div id="integrations-list-box">
                                        <%= render partial: 'integrations/integrations' %>
                                    </div>
                                    <%= link_to "Add integration", new_integration_path, :class => "btn btn-block btn-primary", :remote => true  %>
                                <div id="integration-modal" class="modal fade">
                                    <div class="modal-dialog">
                                        <div id="inner-integration-modal" class="modal-content">
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>   
        </div>
    </section>
</div> 