<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body id="app" class="">

<%= yield :nav %>


	<div class="view-container">
        <section data-ng-view="" id="content" class="animate-fade-up">
        	<%= render partial: "shared/flash_messages", flash: flash %> 
  			<%= yield %>
        </section>
            
    </div>
  		
</body>
</html>
